VITE_API_URL=invest-public-api.tbank.ru:443

// должно быть в локалсторедж
API_TOKEN=tinkoff-api-token
STATIC_STOCKS=[{ "ticker": "AAPL", "quantity": 1, "avg_price": 1, "currency": "$" }]
STATIC_CRYPTO=[{ "ticker": "BTC", "quantity": 1, "avg_price": 1, "currency": "$" }]